<h1>Cálculo de Interés Anual Bancario Simple</h1>
  <form action="/" method="POST">
    <div class="mb-3">
      <label for="capital" class="form-label">Monto del Capital</label>
      <input type="number" class="form-control" required="true" name="capital" value="{{capital}}">
    </div>
    <div class="mb-3">
      <label for="interest" class="form-label">Tasa de Interés Anual</label>
      <input type="number" class="form-control" required="true" name="interest" value="{{interest}}">
    </div>
    <div class="mb-3">
      <label for="year" class="form-label">Cantidad de Años</label>
      <input type="number" class="form-control" required="true" name="year" value="{{year}}">
    </div>
    <button type="submit" class="btn btn-primary">Calcular Interés Anual</button>
  </form>
  
  
  <div class="mt-3 fs-4">
    <p><span class="fw-bold">Interes Anual Simple:</span> {{annualInterest}}</p>
  </div>
 
</section>